.article-grid {
  margin: $gutter--narrow 0;
}

.article-grid .module-header {
  @extend %hide;
}

.article-grid__list {
  @extend %list;
  @extend %grid;
}

.article-grid__item {
  @extend %grid__item;
  @extend %palm--one-whole;
  margin-bottom: $gutter--narrow;
}

.article-grid__article {


}

.article__img {
  width: 120px;
  float: left;
}

.article__title {
  @include typecsset-font-size($size--base);
  margin-bottom: 0;

}

.article__text {
  line-height: 1.2;
  margin-bottom: 0;
  @extend %hide;

}

.article__readmore {
  text-align: right;
}