.article-grid {
  margin: $gutter--narrow 0;
}

.article-grid .module-header {
  @extend %hide;
}

.article-grid__list {
  @extend %list;
  @extend %grid;
}

.article-grid__item {
  @extend %grid__item;
  @extend %palm--one-whole;
  margin-bottom: $gutter--normal;
}

.article-grid__article {


}

.article__img {
  display: none;
}

.article__title {
  @include typecsset-font-size($size--base);
  margin-bottom: 0;
  padding-left: 0;

}

.article__text {

  margin-bottom: 0;

@include typecsset-font-size($size--base);
  line-height: 1.3;

}

.article__readmore {
  text-align: right;
}