/**
 * NAVIGATION
 *
    nav
      h1
      ul
       li
         a
           {{ text }}
 *
 */

.top-nav {

}

.top-nav  .top-nav__list {
  height: 0;
  overflow: hidden;
}

.top-nav:hover  .top-nav__list {
  height: inherit;
}

.top-nav .module-header {
  @extend %zero;

  font-weight: normal;
  text-align: right;
  display: block;

  @include typecsset-font-size($size--base);
}

.top-nav .module-header:after {
  content: '\25BC';
  @include typecsset-font-size($size--small);
}

.top-nav__list {
  @extend %list;

}

.top-nav__item {

}

.top-nav__link {
/*   @extend %outline; */

  display: block;
  line-height: $size--touch-target;
  padding: 0 $gutter--skinny;
}














.quick-nav {
  padding: 0 $gutter--narrow;

  @include media-query($desk) {
    padding: 0;
    margin-bottom: $gutter--narrow;
  }
}

.quick-nav .module-header {
  @extend %hide;
}

.quick-nav__list {
  @extend %list;
  @extend %grid--full;


}

.quick-nav__item {
  @extend %grid__item;
  @extend %palm--one-half;
  @extend %lap--one-fifth;
}

.quick-nav__link {
  display: block;
  text-align: center;
  background-color: $color--green;
  color: $color--white;
  text-decoration: none;
  line-height: $size--touch-target;
  border: 1px solid $color--white;
  border-width: 0 1px 1px 0;

  @include vertical-gradient( lighten($color--green, 3%), $color--green);

  @include media-query($desk) {

  }
}

.quick-nav__link:hover,
.quick-nav__link:focus {
  color: $color--white;
  background-image: none;
}

.quick-nav__link:active {
  box-shadow: inset $box-shadow;
  background-color: darken($color--green, 5%);
}




















.disable-scroll {
  @include media-query($desk) {
    position: fixed;
  }
}

.site-nav  .module-header {
  @extend %hide;
}

.site-nav,
.site-nav__label {
  transition: $animation--transition-speed;
}


.site-nav__handler {
  display: none;

  &:checked {
    & ~ .l-main .l-component .site-nav { left: 0; }

    & ~ .site-nav__label {
      top: 0;
      left: 100%;
      margin-left: -$size--touch-target;
      background-color: $color--gray-darker;
      // background-color: $color--white;

      @include media-query($lap) {
        left: 50%;
      }

    }

    & ~ .site-nav__label .lines {
      //hide the middle line
      background: transparent;

      //overlay the lines by setting both their top values to 0
      &:before,
      &:after{
        top: 0;
      }

      // rotate the lines to form the x shape
      &:before{ transform: rotate3d(0,0,1,45deg); }

      &:after{ transform: rotate3d(0,0,1,-45deg); }
    }
  }
}

.site-nav__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index--menu;
  width: $size--touch-target;
  height: $size--touch-target;
  text-indent: -999em;
  background-color: $color--blue;

  @include media-query($desk) {
    display: none;
  }

  .lines,
  .lines:before,
  .lines:after {
    background-color: $color--white;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
  }

  .lines {
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
    }

    &:before { top: -6px; }
    &:after { top:   6px; }
  }
}

.site-nav {
  -webkit-overflow-scrolling: touch; // enable intertia scrolling
  background-color: $color--gray-darker;
  bottom: 0;
  color: $color--gray-light;
  left: -100%;
/*   left: 0; */
  margin-left: -$size--touch-target;
  overflow: scroll;
  padding-left: $size--touch-target;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @include media-query($lap) {
    width: 50%;
  }

  @include media-query($desk) {
    clear: both;
    left: 0;
    position: relative;
    margin-left: 0;
    padding-left: 0;
    overflow: visible;
    background-color: $color--gray-lighter;
    width: 100%;

  }

  a {
    color: $color--gray-darker;
    display: block;
    text-decoration: none;
    line-height: $size--touch-target;

    @include media-query($desk) {
      padding: 0 $gutter--narrow;

    }
  }

  p {
    margin: 0;
  }

  h2, h3 {
    @extend %zero;

    a {
      @extend %zero;
    }
  }

  hr {
    border: none;
    border-top: 1px solid $color--gray;
  }

  .site-nav__list {
    @extend %list;
  }

  > .site-nav__list {
    @include media-query($desk) {
      display: -webkit-flex;
      display: flex;
      width: 100%;

       border-left: 1px solid $color--gray-light;

    }
  }

  > .site-nav__list > .site-nav__item {
    @include media-query($desk) {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      text-align: center;

      &:first-child {

      }

    }
  }

  .site-nav__group {
    @extend %list;

    @include media-query($desk) {
      display: block;
      list-style: none;
      padding: 0;
      margin-top: $gutter--narrow;

      display: -webkit-flex;
      display: flex;

      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }

    .site-nav__item {
      @include media-query($desk) {
        padding: 0; // $gutter--skinny;
        box-sizing: 0;
        margin: 0 $gutter--skinny;

        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-flex-basis: 200px;
        flex-basis: 200px;
        align-self: stretch;
      }
    }
  }

  .site-nav__group .site-nav__group {
    @include media-query($desk) {
      display: block;
    }

    .site-nav__item {
      @include media-query($desk) {
        display: block;
        width: 100%;
      }
    }
  }

  .site-nav__item.deeper.parent {
    border-top: 1px solid $color--gray;
    margin: 0 $gutter--narrow;
    padding: $gutter--narrow 0 0;

    @include media-query($desk) {
      border: none;
      margin: 0;
      padding: 0;

      border: 1px solid $color--gray-light;
      border-top-color: $color--gray-light;
      border-left: none;
    }
  }


  .site-nav__item.deeper.parent:first-child {
    margin-top: 0;
    border-top: none;

    @include media-query($desk) {
      border-top: 1px solid $color--gray-light;
    }
  }

  .site-nav__item > .site-nav__list .site-nav__item  {
    border-left: 2px solid $color--gray-dark;
    padding-left: $gutter--narrow;

    @include media-query($desk) {
      border: none;
      padding: 0;
    }
  }

  .site-nav__item > .site-nav__list  {
    padding-bottom: $gutter--normal;

    @include media-query($desk) {
      padding: 0;
    }
  }


  .site-nav__item > .site-nav__list {
    border-bottom: 1px solid $color--gray-dark;

    @include media-query($desk) {
      border: none;
    }
  }

  .site-nav__list.nav-child {
    @include media-query($desk) {
      position: absolute;
      left: -999em;
      background-color: $color--blue;
      text-align: left;
      display: block;
      border: 1px solid lighten($color--blue, 5%);
      box-shadow: $box-shadow;
      border-top: none;
      margin-left: -1px;
      margin-top: -1px;
      overflow: hidden;
      top: 100%;
    }
  }

  .site-nav__list.nav-child a {
    color: $color--white;
  }

  .site-nav__item {
    &:hover > a,    &:focus > a,    &:active > a,    &.has-focus > a,
    &:hover > h2 a, &:focus > h2 a, &:active > h2 a, &.has-focus > h2 a,
    &:hover > h3 a, &:focus > h3 a, &:active > h3 a, &.has-focus > h3 a {
      color: $color--white;

      @include media-query($desk) {
/*         color: $color--white; */
        background-color: $color--blue;
        color: $color--green;
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.has-focus {
      .site-nav__list.nav-child {
        left: auto;
      }
    }
  }

  .site-nav > .site-nav__list > .site-nav__item {
    @include media-query($desk) {
      &:hover,
      &:focus,
      &:active,
      &.has-focus {
        border-bottom-color: $color--green;
      }
    }
  }
}
