.newsletter-signup {
  @extend %grid;
  margin: $gutter--narrow 0 0;
  padding: $gutter--narrow;
  background-color: $color--gray-lighter;
  @extend %clearfix;
}
.newsletter-signup .module-header {
  @include typecsset-font-size($size--base);
  @extend %zero;
}

.newsletter-signup__form {
  @extend %zero;
}

.newsletter-signup__input {
  display: block;
  line-height: $size--touch-target;
  border-radius: 2px;
  width: 100%;
  padding: 0 $gutter--narrow;
  border: 1px solid $color--gray-light;

}

.newsletter-signup__button {
  float: right;
  margin: $gutter--narrow 0;
}

.newsletter-signup__link {
  @include typecsset-font-size($size--small);
}
