.site-logo {
  background-color: $color--blue;

  @include media-query($desk) {
    width: 169px;
    height: 169px;
  }

}

.site-logo h1 {
  @extend %zero;

  color: $color--white;
  text-align: center;


  @include typecsset-font-size($size--base);
  line-height: $size--touch-target;

  @include media-query($desk) {

    @include ir;
  }
}

