.site-search {
  @include media-query($desk) {
    display: block;
    position: absolute;
    top: $gutter--normal;
    right: $gutter--normal;
  }
}

.site-search, .site-search * {

}

.site-search .module-header {
  @extend %hide;
}

.site-search__form {
  @extend %zero;

  height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  background-color: $color--gray-darker;
  white-space: nowrap;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);

  @include media-query($desk) {
    height: inherit;
    overflow: visible;
    position: relative;
    background-color: transparent;
    box-shadow: none;
  }
}

.site-search__input {
  white-space: nowrap;
  width: 100%;
  height: $size--touch-target;
  padding-left: $gutter--narrow;
  padding-right: $size--touch-target;
  border: 1px solid $color--gray-dark;
  @include typecsset-font-size($size--base);
  border-radius: 3px;

  &:focus {
    border: 1px solid $color--green;
    outline: none;
  }
}

.site-search__button {
  @extend %zero;

  position: absolute;
  right: $gutter--narrow + 2;
  margin-top: 2px;
  width: $size--touch-target - 2;
  white-space: nowrap;
  height: $size--touch-target - 4;
  border: none;


  @include media-query($desk) {
    right: 2px;
  }
}

.site-search__button .icon-search {
    @extend %ir;

  background-image: url(../svg/zoom.svg);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}

.site-search__link {
  display: none;
}




.site-search__handler {
  display: none;

  &:checked {
    & ~ .l-header .site-search .site-search__form {
      height: inherit;
      padding: $gutter--narrow;
    }

    & ~ .site-search__label {
      background-color: $color--gray-darker;
    }
  }
}


.site-search__label {
  position: absolute;
  top: 0;
  right: 0;
  width: $size--touch-target;
  height: $size--touch-target;
  text-indent: -999em;

  .icon {
    width: $size--touch-target;
    height: $size--touch-target;
    display: block;
    background-image: url(../svg/zoom.svg);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}
